#header div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 1px 10px #eceff4;
}

div #title {
    margin: 1rem;
    padding: 2rem;
    color: #ebcb8b;
}

div nav {
    margin: auto 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div nav .button {
    margin: 1.5rem;
    padding: 1rem 3rem;
    background-color: #eceff4;
    color: #bf616a;
    border: 1px #bf616a solid;
}

div nav .button:hover {
    cursor: pointer;
    background-color: #bf616a;
    color: #eceff4;
    border: 1px #eceff4 solid;
}

div #title:hover {
    cursor: pointer;
}
